<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        
        .sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            padding-top: 4rem;
            background-color: #23272e;
        }

        .sidebar-sticky .nav-link {
            margin-top: 20px;
            color: #fff;
            margin-left: 10px; /* Add left margin */
            display: flex; /* Add flex display to align icon and text */
            align-items: center; /* Center items vertically */
            border-bottom: 1px solid #fff; 
        }

        .sidebar-sticky .nav-link i {
            margin-right: 5px; /* Add some space between icon and text */
        }

        .sidebar-sticky .nav-link.active {
            font-weight: bold;
        }

        .sidebar-sticky .nav-link:hover,
        .sidebar-sticky .nav-link:focus {
            background-color: #fff;
            color: #ff0000;
            border-bottom: 1px solid #ff0000;
        }

        .centered-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <img src="image/flutflix.png" class="centered-image" alt="image" width="50" height="50">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/listU">
                                <i class="fas fa-users"></i>
                                List User
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/getAllMovie">
                                <i class="fas fa-film"></i>
                                List Movies
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/getOrder">
                                <i class="fas fa-file-invoice"></i>
                                Quản lí đơn hàng
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/top10">
                                <i class="fas fa-chart-line"></i>
                                Top 10 sản phẩm bán chạy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/totalRevenue">
                                <i class="fas fa-dollar-sign"></i>
                                Doanh thu
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</body>

</html>
